<!DOCTYPE html>
<html>
        <head>
            
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="CS:GO matches live updated">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta name="author" content="Cameron Jolly">
    
        <link rel="stylesheet" type="text/css" href="css/index.css">
        
        <title>HLTV LIVE</title>
   
    </head>

    <body>
        <h1>CS:GO Match Hub</h1>
        
         <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="index.html">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Info
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="teams.html">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                            Teams
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Information
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="refresh">
                <li>
                   <a onClick="window.location.reload()">
                       
                         <i class="fa fa-power-off fa-2x"></i>
                        
                        <span class="nav-text">
                            Refresh
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  
    </body>
</html>